# [ zrfisaac ]

# [ about ]
# - author : Isaac Santana
# . - email : zrfisaac@gmail.com
# . - site : zrfisaac.github.io
# - base : none
# - description : none
# - version : zrfisaac.en.gitignore.vstudio2022 : 0.0.1

# [ gitignore ]

# : - vstudio2022
*.dll
*.exe
*.v2
.vs/
bin/
obj/

# : - zrfisaac
*.classified.*
*.classified/
*/classified/
*classified/
_*
zd/
